########################
### POWERLINE ARROWS ###
########################

[module/arrow-end]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.blue} 
content-background = ${colors.background} 

[module/arrow-red]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.red}
content-background = ${colors.magenta} 

[module/arrow-green]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.green}
content-background = ${colors.red}

[module/arrow-yellow]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.yellow}
content-background = ${colors.green}

[module/arrow-blue]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.blue}
content-background = ${colors.yellow} 

[module/arrow-magenta]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.magenta} 
content-background = ${colors.cyan} 

[module/arrow-cyan]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.cyan}
content-background = ${colors.blue}

[module/arrow2]
type = custom/text

content      = "%{T3} %{T-}"
content-font = 3
content-foreground = ${colors.magenta} 
content-background = ${colors.background}


###############
### MODULES ###
###############

[module/battery]
type = internal/battery

full-at = 99
battery = BAT0
adapter = ADP1
poll-interval = 5

format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
label-charging = %percentage%%
label-discharging = %percentage%%

; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
; Framerate in milliseconds
animation-charging-framerate = 750

; Only applies if <animation-discharging> is used
animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-3 = 
animation-discharging-4 = 
; Framerate in milliseconds
animation-discharging-framerate = 750

[module/date]
type = internal/date

format =  <label>
label  = %date% 
date   = %d-%m%
format-background = ${colors.magenta}

[module/time]
type = internal/date 

format = " <label>  "
label  = %time% 
time   = %H:%M 
format-background = ${colors.red}

; [module/i3]
; type = internal/i3

; format =  <label-mode> <label-state>

; index-sort      = false
; enable-click    = false
; enable-scroll   = false
; wrapping-scroll = false


; label-mode-padding    = 3
; label-mode-foreground = #000
; label-mode-background = #FFF 

; # focused = Active workspace on focused monitor
; label-focused            = %index%
; label-focused-background = #9F9087
; label-focused-padding    = 3

; # unfocused = Inactive workspace on any monitor
; label-unfocused          = %index%
; label-unfocused-background = #D3869B
; label-unfocused-padding  = 3

; # visible = Active workspace on unfocused monitor
; label-visible            = %index%
; label-visible-background = ${self.label-focused-background}
; label-visible-padding    = 3

; # urgent = Workspace with urgency hint set
; label-urgent             = %index%
; label-urgent-background  = #FFFFFF 
; label-urgent-padding     = 3



[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; ws-icon-0 = 1;
; ws-icon-1 = 2;
; ws-icon-2 = 3;
; ws-icon-3 = 4;
; ws-icon-4 = 5; 
; ws-icon-5 = 6; 
; ws-icon-6 = 7;7.
; ws-icon-7 = 8;8.
; ws-icon-8 = 9;9.
; ws-icon-9 = 10;10.
ws-icon-0 = 1;1
ws-icon-1 = 2;2
ws-icon-2 = 3;3
ws-icon-3 = 4;4
ws-icon-4 = 5;5
ws-icon-5 = 6;6
ws-icon-6 = 7;7
ws-icon-7 = 8;8
ws-icon-8 = 9;9
ws-icon-9 = 10;10



label-mode-padding = 1
label-mode-foreground = ${colors.color6}
label-mode-background = ${colors.color3}

; focused = Active workspace on focused monitor
label-focused = %icon%
; label-focused-background = ${colors.background}
label-focused-background = #9F9087
; label-focused-foreground = #bdae93

label-focused-foreground = #282828
label-focused-underline = ${colors.background}
label-focused-padding = 1

; unfocused = Inactive workspace on any monitor
label-unfocused = %icon%
label-unfocused-foreground = #9F9087
label-unfocused-background = #282828
label-unfocused-padding = 1
; visible = Active workspace on unfocused monitor
label-visible = %icon%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %icon%
label-urgent-background = ${colors.color7}
label-urgent-padding = 1
[module/bspwm]
type = internal/bspwm

background     = ${colors.magenta}
pin-workspaces = true
inline-mode    = false
enable-click   = false
enable-scroll  = false
reverse-scroll = false
fuzzy-match    = false


label-focused-background  = ${colors.cyan}
label-focused-padding     = 2
label-empty-padding       = 2
label-empty               = 
label-empty-background    = ${colors.magenta}
label-occupied-background = ${colors.magenta} 
label-occupied-padding    = 2
; The following labels will be used to indicate the layout/mode
; for the focused workspace. Requires <label-mode>
;
; Available tokens:
;   None

# format = <label-state><label-mode>
# 
# label-monocle = "  monocle"
# label-monocle-background = ${colors.magenta}
# label-tiled = "  tiled"
# label-tiled-background = ${colors.magenta}
# label-fullscreen = "  fullscreen"
# label-fullscreen-background = ${colors.magenta}
# label-floating = "  floating"
# label-floating-background = ${colors.magenta}
# label-pseudotiled = "  pseudotiled"
# label-locked = "  locked"
# label-locked-background = ${colors.magenta}
# label-sticky = "  sticky"
# label-sticky-background = ${colors.magenta}
# label-private = "  private"
# label-private-background = ${colors.magenta}
# label-marked = "  marked"
# label-marked-background = ${colors.magenta}

[module/cpu]
type = internal/cpu

interval      = 1
format        = <label> <ramp-coreload> 
format-prefix = ""
#label-font   = 3
label         = %percentage:3%%

format-background = ${colors.yellow}

ramp-coreload-spacing = 1
ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
ramp-coreload-7 = █

#ramp-load-0 = ▁
#ramp-load-1 = ▂
#ramp-load-2 = ▃
#ramp-load-3 = ▄
#ramp-load-4 = ▅
#ramp-load-5 = ▆
#ramp-load-6 = ▇
#ramp-load-7 = █

[module/memory]
type = internal/memory

interval = 2
label    =  %mb_used%
format-background = ${colors.blue}

[module/eth]
type = internal/network

interface = enp0s31f6
interval  = 5

format-connected           = <label-connected>
format-connected-prefix    = " "
label-connected            = "Connected"

format-disconnected        = <label-disconnected>
format-disconnected-prefix = " "
label-disconnected         = "Disconnected"

format-connected-background    = ${colors.cyan}
format-disconnected-background = ${colors.cyan}

[module/alsa]
type = internal/alsa

format-volume = <ramp-volume> <label-volume>
label-muted   =  婢 muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

format-volume-background   = ${colors.red}
format-muted-background    = ${colors.red}
#bar-volume-width          = 10
#bar-volume-gradient       = false
#bar-volume-indicator      = |
#bar-volume-indicator-font = 1
#bar-volume-fill           = ─
#bar-volume-fill-font      = 1
#bar-volume-empty          = ─
#bar-volume-empty-font     = 1

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <ramp-volume> <label-volume>
label-muted   =  婢 muted

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

format-volume-background   = ${colors.red}
format-muted-background    = ${colors.red}

[module/temperature]
type = internal/temperature

interval = 5

# List all thermal zones with:
#  $ for i in /sys/class/thermal/thermal_zone*; do echo "$i: $(<$i/type)"; done
thermal-zone = 2

# /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input
hwmon-path       = 
base-temperature = 20
warn-temperature = 60

format            = <ramp> <label>
format-warn       = <ramp> <label-warn>
label             = %temperature-c%
label-warn        =  %temperature-c%
format-background = ${colors.green}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 

[module/filesystem]
; type = internal/fs

; mount-0 = /home

; interval     = 600
; fixed-values = true
; spacing      = 2

; label-mounted =  %free% 
; format-mounted-background   = ${colors.blue}
; format-unmounted-background = ${colors.blue}

######################
### CUSTOM MODULES ###
######################

[module/cmus]
type = custom/script

exec       = ~/.config/polybar/modules/cmus.sh
exec-if    = pgrep -x cmus
interval   = 5
format     = <label>
label      =  %output%

format-foreground = ${colors.foreground-alt} 

[module/nvidia]
type = custom/script

exec     = ~/.config/polybar/modules/nvidia-smi.sh
interval = 3
format   = <label>
label    =  %output%

format-foreground = ${colors.foreground}
format-background = ${colors.magenta}

[module/amdgpu]
type = custom/script

exec     = ~/.config/polybar/modules/amdgpu.sh
interval = 3
format   = <label>
label    =  %output%

format-foreground = ${colors.foreground}
format-background = ${colors.magenta}

[module/updates-arch-aur]
; type = custom/script

; exec     = ~/.config/polybar/modules/yay-updates.sh
; interval = 600
; format  = <label>
; label   =  %output%

format-foreground = ${colors.foreground}
format-background = ${colors.cyan}

[module/spotify]
type = custom/script

exec     = ~/.config/polybar/modules/spotify.sh 
interval = 5
#tail     = true
format  = <label>
label   =  %output%

format-foreground = ${colors.foreground-alt}

# vim:ft=dosini
